<nav class="navbar mb-5">
  <a class="navbar-brand" href="/">Today's Schedule</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a style="padding: 0;" class="nav-item nav-link">
        <span>{{name}}</span><img src={{userImg}}/>
      </a>
    </div>
  </div>
</nav>
